<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.tuna.certification.mapper.AuthRecordMapper">

    <resultMap id="authRecordResultMap" type="authRecord">
		<result column="auth_record_id" property="authRecordId" />
		<result column="auth_way" property="authWay" />
		<result column="catch_image_url" property="catchImageUrl" />
		<result column="match_image_url" property="matchImageUrl" />
		<result column="device_id" property="deviceId" />
		<result column="device_sn" property="deviceSn" />
		<result column="org_type" property="orgType" />
		<result column="org_id" property="orgId" />
		<result column="org_name" property="orgName" />
		<result column="province_code" property="provinceCode" />
		<result column="city_code" property="cityCode" />
		<result column="district_code" property="districtCode" />
		<result column="town_code" property="townCode" />
		<result column="org_address" property="orgAddress" />
		<result column="auth_time" property="authTime" />
		<result column="quality" property="quality" />
		<result column="confidence" property="confidence" />
		<result column="real_name" property="realName" />
		<result column="sex" property="sex" />
		<result column="nature" property="nature" />
		<result column="birthday" property="birthday" />
		<result column="address" property="address" />
		<result column="cert_no" property="certNo" />
		<result column="sign_org" property="signOrg" />
		<result column="valid_begin_date" property="validBeginDate" />
		<result column="valid_end_date" property="validEndDate" />
		<result column="prov_police_org_id" property="provPoliceOrgId" />
		<result column="prov_police_org_name" property="provPoliceOrgName" />
		<result column="city_police_org_id" property="cityPoliceOrgId" />
		<result column="city_police_org_name" property="cityPoliceOrgName" />
		<result column="district_police_org_id" property="districtPoliceOrgId" />
		<result column="district_police_org_name" property="districtPoliceOrgName" />
		<result column="town_police_org_id" property="townPoliceOrgId" />
		<result column="town_police_org_name" property="townPoliceOrgName" />
		<result column="trigger_alarm_flag" property="triggerAlarmFlag" />
		<result column="status" property="status" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<insert id="insert" parameterType="authRecord">
	    insert into pmo_auth_record (
	        auth_record_id,
	        auth_way,
	        catch_image_url,
	        match_image_url,
	        device_id,
	        device_sn,
	        org_type,
	        org_id,
	        org_name,
	        province_code,
	        city_code,
	        district_code,
	        town_code,
	        org_address,
	        auth_time,
	        quality,
	        confidence,
	        real_name,
	        sex,
	        nature,
	        birthday,
	        address,
	        cert_no,
	        sign_org,
	        valid_begin_date,
	        valid_end_date,
	        prov_police_org_id,
	        prov_police_org_name,
	        city_police_org_id,
	        city_police_org_name,
	        district_police_org_id,
	        district_police_org_name,
	        town_police_org_id,
	        town_police_org_name,
	        trigger_alarm_flag,
	        status,
	        gmt_create,
	        gmt_modify
	    ) values (
	        #{authRecordId},
	        #{authWay},
	        #{catchImageUrl},
	        #{matchImageUrl},
	        #{deviceId},
	        #{deviceSn},
	        #{orgType},
	        #{orgId},
	        #{orgName},
	        #{provinceCode},
	        #{cityCode},
	        #{districtCode},
	        #{townCode},
	        #{orgAddress},
	        #{authTime},
	        #{quality},
	        #{confidence},
	        #{realName},
	        #{sex},
	        #{nature},
	        #{birthday},
	        #{address},
	        #{certNo},
	        #{signOrg},
	        #{validBeginDate},
	        #{validEndDate},
	        #{provPoliceOrgId},
	        #{provPoliceOrgName},
	        #{cityPoliceOrgId},
	        #{cityPoliceOrgName},
	        #{districtPoliceOrgId},
	        #{districtPoliceOrgName},
	        #{townPoliceOrgId},
	        #{townPoliceOrgName},
	        #{triggerAlarmFlag},
	        #{status},
	        now(3),
	        now(3)
	    )
	</insert>
	
	<select id="getTotalCountByCondition" parameterType="authRecordQueryCondition" resultType="int">
	    select count(*)		
		<include refid="condition_sql_where"/>
	</select>
	
	<select id="findPaginationByCondition" parameterType="authRecordQueryCondition" resultMap="authRecordResultMap">
	    <include refid="condition_sql_select"/>	
		<include refid="condition_sql_where"/>
		order by gmt_create desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="load" parameterType="map" resultMap="authRecordResultMap">
	    <include refid="sql_select"/>	
		from pmo_auth_record where auth_record_id = #{authRecordId}
	</select>
	
	<sql id="sql_select">
		select
			auth_record_id,
	        auth_way,
	        catch_image_url,
	        match_image_url,
	        device_id,
	        device_sn,
	        org_type,
	        org_id,
	        org_name,
	        province_code,
	        city_code,
	        district_code,
	        town_code,
	        org_address,
	        auth_time,
	        quality,
	        confidence,
	        real_name,
	        sex,
	        nature,
	        birthday,
	        address,
	        cert_no,
	        sign_org,
	        valid_begin_date,
	        valid_end_date,
	        prov_police_org_id,
	        prov_police_org_name,
	        city_police_org_id,
	        city_police_org_name,
	        district_police_org_id,
	        district_police_org_name,
	        town_police_org_id,
	        town_police_org_name,
	        trigger_alarm_flag,
	        status,
	        gmt_create,
	        gmt_modify
	</sql>
	
	<sql id="condition_sql_select">
		select
			auth_record_id,
	        auth_way,
	        catch_image_url,
	        match_image_url,
	        device_id,
	        device_sn,
	        org_type,
	        org_id,
	        org_name,
	        province_code,
	        city_code,
	        district_code,
	        town_code,
	        org_address,
	        auth_time,
	        quality,
	        confidence,
	        real_name,
	        sex,
	        nature,
	        birthday,
	        address,
	        cert_no,
	        sign_org,
	        valid_begin_date,
	        valid_end_date,
	        prov_police_org_id,
	        prov_police_org_name,
	        city_police_org_id,
	        city_police_org_name,
	        district_police_org_id,
	        district_police_org_name,
	        town_police_org_id,
	        town_police_org_name,
	        trigger_alarm_flag,
	        status,
	        gmt_create,
	        gmt_modify
	</sql>
	
	<sql id="condition_sql_where">
	    from pmo_auth_record 
	    <where>
	        1 = 1
	    	<if test="beginDate != null and endDate != null">
	    	and gmt_create between #{beginDate} and #{endDate}
	    	</if>
		    <if test="provCode != null">
	        and province_code = #{provCode}
	        </if>
		    <if test="cityCode != null">
	        and city_code = #{cityCode}
	        </if>
		    <if test="districtCode != null">
	        and district_code = #{districtCode}
	        </if>
	        <if test="townCode != null">
	        and town_code = #{townCode}
	        </if>
	        <if test="orgType != null">
	        and org_type = #{orgType}
	        </if>
	        <if test="status != null">
	        and status = #{status}
	        </if>
	        <if test="authWay != null">
	        and auth_way = #{authWay}
	        </if>
	        <if test="certNo != null">
	        and cert_no = #{certNo}
	        </if>
	        <if test="triggerAlarmFlag != null">
	        and trigger_alarm_flag = #{triggerAlarmFlag}
	        </if>
	        <if test="orgName != null">
	        and org_name like CONCAT('%',#{orgName},'%')
	        </if>
	        <if test="deviceId != null">
	        and device_id = #{deviceId}
	        </if>
		</where>
	</sql>
	
</mapper>