<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.moredian.zhufresh.mapper.UserMapper" >

	<resultMap id="userResultMap" type="user">
		<result column="user_id" property="userId" />
		<result column="username" property="username" />
		<result column="head_url" property="headUrl" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="tickets" property="tickets" />
		<result column="beans" property="beans" />
		<result column="balance" property="balance" />
		<result column="open_id" property="openId" />
		<result column="notice_time" property="noticeTime" />
		<result column="login_time" property="loginTime" />
		<result column="succ_orders" property="succOrders" />
		<result column="vip_flag" property="vipFlag" />
		<result column="status" property="status" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
	</resultMap>
	
	<insert id="insert" parameterType="user">
	    insert into users (
	        user_id,
			username,
	        password,
	        mobile,
	        status,
	        gmt_create,
	        gmt_modify
	    ) values (
	        #{userId},
	        #{username},
	        #{password},
	        #{mobile},
	        #{status},
	        now(6),
	        now(6)
	    )
	</insert>

	<select id="loadByMobileLogin" parameterType="map" resultMap="userResultMap">
		<include refid="sql_select"/>
		from users where mobile = #{mobile} and password = #{password}
	</select>

	<select id="load" parameterType="map" resultMap="userResultMap">
		<include refid="sql_select"/>
		from users where user_id = #{userId}
	</select>

	<sql id="sql_select">
		select
			user_id,
			username,
			head_url,
	        password,
	        mobile,
	        email,
	        tickets,
	        beans,
	        balance,
	        open_id,
	        notice_time,
	        login_time,
	        succ_orders,
	        vip_flag,
	        status,
	        gmt_create,
	        gmt_modify
	</sql>
	
</mapper>